AUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.vercel.app/32

ORY_CLIENT_ID=
ORY_CLIENT_SECRET=

# This can either be an oryapis.com domain or a custom domain.
ORY_SDK_URL=

# Examples:
#
#  ORY_SDK_URL=https://your-slug.projects.oryapis.com
#  ORY_SDK_URL=https://ory.myapp.com
